{% extends "main.html" %}


{% block title %}Book: {{book.title|escape}}{% endblock %}

{% block menu %}
<li><a href="/books">Books</a></li>
<li><a href="/book-preview?key={{book.key}}">Preview this book</a></li>
<li><a href="/book-edit?key={{book.key}}">Edit book details</a></li>
{% endblock %}

{% block body %}

<p class="floating-cover">
    <a href="/book-edit?key={{book.key}}"><img src="{% if book.cover_url %}{{book.cover_url}}{% else %}/static/images/sample-cover.jpg{% endif %}" alt="cover image for {{title|escape}}"/><br />
    Click to edit
    </a>
</p>
<div style="margin-left: 100px">
<h2>Book: {{book.title|escape}}</h2>

{% if chapters %}
<div class="conversion">
{% if book.converting %}
<p><em>Generating book file... <a href="javascript:window.location.reload(true)">Refresh</a></em></p>
{% else %}

    {% ifequal book.conversion_status "OK" %}

        {% if book.conversion_key %}
            <p><a href="/final-serve/export.mobi?key={{book.key}}"><strong>Download e-book</strong></a></p>
        {% endif %}
    
    {% else %}
        {% ifequal book.conversion_status "ERROR" %}
        <p>E-book generation failed</p>
        {% endifequal %}
    {% endifequal %}


    <form id="vorm" method="post" action="/final-request?key={{book.key}}">
        <p>
            <a href="javascript:void(0)" onclick="document.getElementById('vorm').submit()">Generate a new e-book file</a>
        </p>
    </form>
{% endif %}
</div>
{% endif %}
</div>
<div style="clear: both;"></div>

<h3>Special chapters</h3>

<ul>
{% if book.use_index %}
<li><a href="/chapter-index?book={{book.key}}">Index page</a></li>
{% endif %}

{% if book.use_toc %}
<li><a href="/chapter-toc?book={{book.key}}">Table of contents</a></li>
{% endif %}

{% if book.use_copyright %}
<li><a href="/chapter-copyright?book={{book.key}}">Copyright info</a></li>
{% endif %}

</ul>

<h3>Chapters</h3>

{% if chapters %}

<ul>
    {% for chapter in chapters %}
    <li><a href="/chapter?key={{chapter.key}}">Chapter {{forloop.counter}}.{% if chapter.title %} {{chapter.title}}{%endif%}</a></li>
    {% endfor %}
</ul>

<p><a href="/chapter-add?book={{book.key}}">Add another</a></p>

{% else %}
<p>No chapters yet!</p>
<p><a href="/chapter-add?book={{book.key}}">Add one!</a></p>
{% endif %}

{% endblock %}