{% extends "main.html" %}


{% block title %}Book: {{book.title|escape}}{% endblock %}

{% block menu %}
<li><a href="/books">Books</a></li>
<li><a href="/book-preview?key={{book.key}}">Preview this book</a></li>
<li><a href="/book-edit?key={{book.key}}">Edit book details</a></li>
{% endblock %}

{% block body %}

<p class="floating-cover">
    <a href="/book-edit?key={{book.key}}"><img src="{% if book.cover_url %}{{book.cover_url}}{% else %}/static/images/sample-cover.jpg{% endif %}" alt="cover image for {{book.title|escape}}"/><br />
    Click to edit
    </a>
</p>
<div style="margin-left: 100px;">
<h2>{{book.title|escape}}</h2>

{% if chapters %}
<div class="conversion">
{% if book.converting %}
<p><em>Generating ebook file... <a href="javascript:window.location.reload(true)">Refresh</a></em></p>
{% else %}

    {% ifequal book.conversion_status "OK" %}

        {% if book.conversion_key %}
            <p class="download"><a href="/final-serve/{{book.title|urlencode}}.mobi?key={{book.key}}"><strong>Download generated e-book</strong></a> (generated <em>{{book.conversion_time}} GMT</em>)</p>
        {% endif %}
    
    {% else %}
        {% ifequal book.conversion_status "ERROR" %}
        <p>E-book generation failed</p>
        <p>Log:</p>
        <pre>{{book.conversion_errors}}</pre>
        {% endifequal %}
    {% endifequal %}


    <form id="vorm" method="post" action="/final-request?key={{book.key}}">
        <p class="generate">
            <a href="javascript:void(0)" onclick="document.getElementById('vorm').submit()">Generate a new e-book file</a>
        </p>
    </form>
{% endif %}
</div>
{% else %}
<div class="conversion">
<b>NB!</b> You need to <a href="/chapter-add?book={{book.key}}">add chapters</a> before you can generate an ebook file!
</div>
{% endif %}
</div>
<div style="clear: both;"></div>

{% if specials %}
<h3 class="underline">Special pages</h3>

<ul>
{% if book.use_index %}
<li><a href="/chapter-index?book={{book.key}}">Index page</a></li>
{% endif %}

{% if book.use_toc %}
<li><a href="/chapter-toc?book={{book.key}}">Table of contents</a></li>
{% endif %}

{% if book.use_copyright %}
<li><a href="/chapter-copyright?book={{book.key}}">Copyright info</a></li>
{% endif %}

</ul>
{% endif %}

<h3 class="underline">Chapters</h3>

{% if chapters %}

<ul>
    {% for chapter in chapters %}
    <li><a href="/chapter?key={{chapter.key}}">Chapter {{forloop.counter}}.{% if chapter.title %} {{chapter.title}}{%endif%}</a></li>
    {% endfor %}
</ul>

<p class="plus"><a href="/chapter-add?book={{book.key}}">Add another</a></p>

{% else %}
<p><em>No chapters yet!</em></p>
<p class="plus"><a href="/chapter-add?book={{book.key}}">Add one!</a></p>
{% endif %}

{% endblock %}