{% extends "main.html" %}


{% block title %}jipikajee{% endblock %}

{% block body %}

<h1>{{title|escape}}</h1>

{% if user %}
<p><a href="/books">Your books</a></p>
{% endif %}

<form method="post" action="/chapter-save-special">

<input type="hidden" name="book" value="{{book.key}}" />
<input type="hidden" name="type" value="{{type}}" />

<div><textarea name="contents" style="width: 550px; height: 350px;">{{ contents|escape }}</textarea></div>
<p><input type="submit" name="save" value="Save contents"/></p>
</form>
{% endblock %}