{% extends "main.html" %}


{% block title %}Edit: {{title|escape}}{% endblock %}

{% block menu %}
<li><a href="/books">Books</a></li>
<li><a href="/book-preview?key={{book.key}}">Preview this book</a></li>
<li><a href="/book-edit?key={{book.key}}">Edit book details</a></li>
<li><a href="/chapters?key={{book.key}}">Back to book contents</a></li>
{% endblock %}

{% block body %}

<h2>Edit: {{title|escape}}</h2>

<p><strong>NB!</strong> Only a small set of formatting options are available. All unsupported formatting will be removed on save.</p>

<form method="post" action="/chapter-save">

<input type="hidden" name="book" value="{{book.key}}" />
<input type="hidden" name="type" value="{{type}}" />
{% if key %}
<input type="hidden" name="key" value="{{key}}" />
{% endif %}

<div><textarea name="contents" style="width: 550px; height: 350px;">{{ contents|escape }}</textarea></div>
<p><input type="submit" name="save" value="Save contents"/></p>
</form>
{% endblock %}