{% extends "main.html" %}


{% block title %}Welcome!{% endblock %}

{% block menu %}
{% if user %}
<li><a href="/books">Books</a></li>
{% endif %}
{% endblock %}

{% block body %}

<h2>Welcome!</h2>

<p>This web service allows you to write a book online and download it in the Kindle format.</p>

<p>Be warned - this is a work in progress project, just a working prototype.</p>

<div style="padding-top: 20px;">

<div style="float: left; margin: 2px; padding: 3px; border: 1px solid #EEE;"><img src="/static/images/s3.png" style="" /></div>
<div style="float: left; margin: 2px; padding: 3px; border: 1px solid #EEE;"><img src="/static/images/s2.png" style="" /></div>
<div style="float: left; margin: 2px; padding: 3px; border: 1px solid #EEE;"><img src="/static/images/s1.png" style="" /></div>
</div>
<div style="clear: both"></div>

{% if user %}
<p><a href="/books">Go to your books</a></p>
{% endif %}

{% endblock %}