<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link href="/static/style.css?1" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <script src="http://ajax.googleapis.com/ajax/libs/prototype/1.7.0.0/prototype.js"></script>
{% block head %}{% endblock %}
        
        <script type="text/javascript">
            function closeMessage(element){
                element = $(element);
                if(!element)return;
                element.fade();
            }
            var regenerate = false;
            function generate(key){
                if(regenerate)return false;
                regenerate = true;
                new Ajax.Request('/final-request?key='+key, {
                    method: 'post',
                    onSuccess: function(transport) {
                    
                        if (!transport.responseText.match(/OK/)){
                            alert("Error!");
                            regenerate = false;
                        }else{
                            new Ajax.PeriodicalUpdater('generation', '/chapterajax?key='+key, {
                                method: 'get', frequency: 3, decay: 2, onSuccess:function(){
                                    regenerate = false;
                                }
                            });
                        }
                    }
                });
            };
            
        </script>
        
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-51322-33']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
        
    </head>
    <body>

        <div id="main">
            <div id="header">
                <a href="/"><img src="/static/bookweed.png" width="166" height="107" alt="bookweed logo" /></a>
            </div>
            <div id="toolbar">
        
                <ul id="menu"> 
                    <li><a href="/" title="Home">Home</a></li> 
                    {% block menu %}{% endblock %}
                    {% if user %}
                    <li><a href="/logout" title="Log out">Log out</a></li>
                    {% else %}
                    <li><a href="/login" title="Log in">Log in</a></li>
                    {% endif %}
                </ul> 
            </div>
            <div style="clear: both"></div>
            {% if flash_ok %}
            <div class="flash-ok" onclick="closeMessage(this);">
                <div class="close"></div>
                <div class="message">{{flash_ok}}</div>
            </div>
            {% endif %}
            {% if flash_error %}
            <div class="flash-error" onclick="closeMessage(this);">
                <div class="close"></div>
                <div class="message">{{flash_error}}</div>
            </div>
            {% endif %}
            <div id="contents">{% block body %}Not found!{% endblock %}</div>
            
            <div id="footer">&copy; 2010 Kreata OÜ, info@bookweed.com<br />Kindle™ is a trademark of Amazon.com, Inc. or its affiliates in the United States and/or other countries. 
            Kreata OÜ is not in any way affiliated with Amazon.com, Inc. All designated trademarks and brands are the property of their respective owners.<br/>
            Some Icons are Copyright © <a href="http://p.yusukekamiyamane.com/">Yusuke Kamiyamane</a>. All rights reserved.</div>
        </div>
    
    </body>
</html>