{% extends "main.html" %}


{% block title %}Preview{% endblock %}

{% block menu %}
<li><a href="/books">Books</a></li>
<li><a href="/book-preview?key={{book.key}}">Preview this book</a></li>
<li><a href="/book-edit?key={{book.key}}">Edit book details</a></li>
<li><a href="/chapters?key={{book.key}}">Back to book contents</a></li>
{% endblock %}

{% block body %}

<h2>Preview</h2>

<div class="preview">

{% if book.use_index %}
<div id="ch-index">
{{index}}
</div>
<div class="pgp"></div>
{% endif %}

{% if book.use_copyright %}
<div id="ch-copyright">
{{copyright}}
</div>
<div class="pgp"></div>
{% endif %}



{% if book.use_toc %}
<div id="ch-toc">
{{toc}}
</div>
<div class="pgp"></div>
{% endif %}



{% if chapters %}
{% for chapter in chapters %}
<div id="ch-{{chapter.key.id}}">
{{chapter.body}}
</div>

<div class="pgp"></div>
{% endfor %}
{% endif %}

</div>

{% endblock %}