body{
    font-family: Georgia, Sans-serif;
    font-size: 13px; 
}

p{
    text-align: justify;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}

h6{
    font-size: 14px;
}

h5{
    font-size: 15px;
}

h4{
    font-size: 16px;
}

h3{
    font-size: 17px;
}

h2{
    font-size: 19px;
}

h1{
    font-size: 21px;
}

p
{
    margin-top: 1em;
    text-indent: 0em
}

.pagebreak
{
    page-break-before: always;
}

.centered
{
    text-align: center;
}

.bottom
{
    vertical-align: text-bottom;
}

.tablehead
{
    text-align: center;
    font-weight: bold
}

H1 {margin-top: 1em}
H2 {margin-top: 1em}
H3 {margin-top: 1em}
H4 {margin-top: 1em}