

body{
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 13px;
}

#main{
    width: 800px;
    margin: 0px auto;
}

#contents, #header, #footer{
    padding: 5px 15px;
}

#contents{
    clear: both;
    padding-top: 10px; 
}

a img{
    border:0;
}

#footer{
    clear: both;
    padding-top: 20px;
    color: #999;
    font-size: 11px; 
}

.pgp{
    border-top: 1px dotted #CCC;
    margin: 5px 0; 
}

a{
    color: #4096EE;
    text-decoration: none;
}

a:hover{
    color: #2580a2;
}

.preview{
    font-family: Georgia, Sans-serif;
    font-size: 13px;
    width: 500px;
}

.preview p{
    text-align: justify;
}

.preview h1, .preview h2, .preview h3, .preview h4, .preview h5, .preview h6{
    font-weight: normal;
}

.preview h6{
    font-size: 14px;
}

.preview h5{
    font-size: 15px;
}

.preview h4{
    font-size: 16px;
}

.preview h3{
    font-size: 17px;
}

.preview h2{
    font-size: 19px;
}

.preview h1{
    font-size: 21px;
}


.preview p
{
    margin-top: 1em;
    text-indent: 0em
}

.preview .pagebreak
{
    page-break-before: always;
}

.preview .centered
{
    text-align: center;
}

.preview .bottom
{
    vertical-align: text-bottom;
}

.preview .tablehead
{
    text-align: center;
    font-weight: bold
}

.preview H1 {margin-top: 1em}
.preview H2 {margin-top: 1em}
.preview H3 {margin-top: 1em}
.preview H4 {margin-top: 1em}


#menu {
	background: #333;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
#menu li {
	float: left;
	font: 11px "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
#menu a {
	background: #333 url("/static/images/seperator.gif") bottom right no-repeat;
	color: #ccc;
	display: block;
	float: left;
	margin: 0;
	padding: 8px 12px;
	text-decoration: none;
}
#menu a:hover {
	background: #2580a2 url("/static/images/hover.gif") bottom center no-repeat;
	color: #fff;
	padding-bottom: 8px;
}

.data, .openid{
    border: 1px solid #CCC;
    font-size: 12px;
    padding: 3px;
}

.openid{
    padding-left: 19px;
    background: url(/static/images/openid-icon.png) no-repeat 2px center;
}

input.long{
    width: 300px;
}

input.middle{
    width: 100px;
}

input.short{
    width: 40px;
}

table.formatted{
}

table.formatted th{
    color:  #333;
    border-bottom: 1px dotted #333;
    text-align: left;
    font-weight: bold;
}

table.formatted td, table.formatted th{
    padding: 3px 5px;
}

.floating-cover{
    float: left;
    text-align: center;
    padding: 5px;
    margin:3px;
    border: 1px solid #CCC;    
}

.floating-cover a{
    text-decoration: none;
    color: #888;

    font-size: 12px;
}

.conversion{
    background: #FAFAFA;
    padding: 5px;
}

.underline{
    border-bottom: 1px dashed #AAA;
}

.plus{
    background: url(/icons/103.png) no-repeat left center;
    padding-left: 18px;
}

.download{
    background: url(/icons/193.png) no-repeat left center;
    padding-left: 18px;
}

.generate{
    background: url(/icons/123.png) no-repeat left center;
    padding-left: 18px;
}

.next{
    background: url(/icons/105.png) no-repeat left center;
    padding-left: 18px;
}

.remove{
    background: url(/icons/101.png) no-repeat left center;
    padding-left: 18px;
}

.bookdir{
    background: url(/icons/046.png) no-repeat left center;
    padding-left: 18px;
}

.flash-ok, .flash-error{
	clear: both;
    margin: 5px 0;
    position: relative;
}

.flash-ok{
	border: 1px solid #008C00;
    background: #CDEB8B;
    color: black;
}

.flash-error{
	border: 1px solid #B02B2C;
    background: #D01F3C;
    color: black;
}

.flash-ok .close, .flash-error .close{
	position: absolute;
	z-index: 1;
	right: 3px;
	top: 3px;
	width: 16px;
	height: 16px;
	cursor: pointer;
	background: url(/icons/101.png) no-repeat center center;
}

.flash-ok .message, .flash-error .message{
    padding: 10px;
    text-align: center;
}

.login_button{
    float: left;
    cursor:pointer;
    border: 1px solid #DADADA;
    margin-right: 2px;
    padding: 2px;
    background-position: center center;
    background-repeat: no-repeat;

    width: 115px;
    height: 30px;    
}

.login_button:hover{
    border: 1px solid #2580a2;
}

.login-google{
    background-image: url(/static/images/google-logo.png);
}

.login-yahoo{
    background-image: url(/static/images/yahoo-logo.png);
}